
.odin-recipes {
    font-size: 50px;
}

.recipe-list {
    font-size: 30px;
   
}

.recipe-name {
    font-size: 40px;

}

.ingredients {
    font-size: 30px;
    background-color: pink;
}

.steps {
    font-size: 30px;
    background-color: yellow;
}

.main-page-bg {
    background-color: pink
}

.recipe-page-bg {
    background-color: lightskyblue
}

.text {
    font-size: 24px;
}