
.odin-recipes {
    font-size: 50px;
    margin: 40px;
}

.recipe-list {
    font-size: 30px;
   
}

.recipe-name {
    font-size: 40px;
    margin: 40px;

}

.ingredients {
    font-size: 30px;
    background-color: pink;
    margin: 10px 40px;
}

.steps {
    font-size: 30px;
    background-color: yellow;
    margin: 10px 40px;
}

.main-page-bg {
    background-color: pink
}

.recipe-page-bg {
    background-color: lightskyblue
}

.text {
    font-size: 24px;
    margin: 10px 40px;
}

.foodpic {
    height: auto;
    width: 600px;
    margin: 10px 40px;
}

.button {
    background-color: lightskyblue;
    color:white;
    font-size: 30px;
    margin: 8px;
}